<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/JS/500.js}" defer></script>
<link th:href="@{/CSS/500.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="blur"></div>
<div class="main" id="main">
    <div>
        <b style="font-size:45px;">500</b> ERROR!<br><br>
        원인(예상)<br>
        1. 로그인을 해주세요! 로그인 승인이 안 되었을 수 있어요! <br>
        2. 서버가 문제일수도 있어요! 이때는 관리자에게 문의주세요!<br><br>

        <a style="float:right;text-decoration-line: none;" th:href="@{/Boards}" th:text="'Next'">넵</a>
    </div>
</div>
    <div class="particles" id="particles"></div>
</body>

</html>