<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/CSS/plzLogin.css}">
<script th:src="@{/JS/plzLogin.js}" defer></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="blur"></div>
<div class="main" id="main">
    <div>
        <b style="font-size:45px;">로그인</b>을 해주세요! <br><br>
        <a style="float:right;text-decoration-line: none;" th:href="@{/Boards}" th:text="'Next'">넵</a>
    </div>
</div>
    <div class="particles" id="particles"></div>
</body>



</html>