<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/CSS/table1.css}" rel="stylesheet">
<link th:href="@{/CSS/myPage.css}" rel="stylesheet">
<script th:src="@{/JS/image_moving.js}" defer></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="layout/templateV1.html"></div>

<div style="margin-left:18%;">
    <div style="font-weight:bolder;font-size:40px;">공지사항</div>
    <br>

    <th:block th:if="${count != 0}">

<table>

    <thead>
    <th class="text-center">글쓴이</th>
    <th class="text-center">주제</th>
    <th class="text-center">게시일자</th>
    <th class="text-center">게시글</th>
    <th class="text-center">추천수</th>
    <th class="text-center">추천수</th>
    </thead>


    <tbody th:each="article : ${article}">
    <tr>
        <td class="text-center"><a th:href="@{Boards/{articleId}(articleId=${article.articleId})}">[[${article.name}]]</a></td>

        <td class="text-center" th:text="${article.subject}">주제</td>

        <td class="text-center" th:text="${#temporals.format(article.day, 'yyyy-MM-dd HH:mm')}">day</td>

        <td class="text-center" th:text="${article.content}">글</td>

        <td class="text-center" th:text="${article.hitcount}">글</td>

        <td class="text-center" th:text="${article.clickcount}">글</td>
    </tr>
    </tbody>
</table>

    </th:block>


    <th:block th:if="${count == 0}">

        <table>

            <thead>
            <th class="text-center">글쓴이</th>
            <th class="text-center">주제</th>
            <th class="text-center">게시일자</th>
            <th class="text-center">게시글</th>
            <th class="text-center">추천수</th>
            <th class="text-center">추천수</th>
            </thead>


            <tbody>
            <tr>
                <td colspan="6" class="text-center" style="border-radius: 0px 0px 20px 20px;">관리자가 올린 공지가 없습니다.</td>
            </tr>
            </tbody>
        </table>

    </th:block>
<br>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>


</html>