<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>템플릿 타이틀</title>
    <!-- 공통 CSS -->
    <link th:href="@{/CSS/templateV1.css}" rel="stylesheet">
    <script th:src="@{/JS/templateV1.js}" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .field-error {
          color: #ff0000;
        }
    </style>
</head>



<body>

<div class="buttonToggle" onmouseover="fixBox_slideDown();" id="blink"><br></div>

<div class="fixBox">
    <header class="box">
        <div>
            <div th:if="${session.loginMember == null}"><a th:href="@{/Members/signup}">로그인</a></div>
            <div th:if="${session.loginMember == null}"><a th:href="@{/Members/register}">회원가입</a></div>
        </div>
        <div>
            <div th:if="${session.loginMember != null}"><div>[[${session.loginMember.name}]]님 즐거운 하루 되세요.</div></div>
            <div th:if="${session.loginMember != null}"><a th:href="@{/Members/register}">회원가입</a> <a th:href="@{/Members/logout}">로그아웃</a></div>
        </div>
        <h1 class="logo">Mr.Kim</h1>

        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>

    </header>

        <nav>

            <a th:href="@{/}">홈</a>
            <a th:href="@{/Members}">회원리스트</a>
            <a th:href="@{/Boards}">게시판</a>
            <a th:href="@{/myPage}">마이페이지</a>
            <a th:href="@{/notice}">공지사항</a>
<!--            <a th:href="@{/Members/${session.loginMember.name}}">회원정보</a>-->
<!--            <a th:href="@{/Members/delete/${session.loginMember.name}">탈퇴</a>-->
<!--            <a th:href="@{/Members/signup}">로그인</a>-->
            <i class="fa-solid fa-bag-shopping"></i>
        </nav>

</div>


    <div class="main_background" onmousemove="fixBox_slideUp();">
    <!-- Top Menu Start -->
<div>
    <div class="container">
        <div class="navbar-header">

            <ul class="nav navbar-nav">

            </ul>

        </div>
</div>

<br>


</body>
</html>