<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/JS/list.js}" defer></script>
<link th:href="@{/CSS/list.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- 타이틀 -->

<body>

<div th:include="layout/templateV1.html"></div>

<section>
            <h2 id="container">커뮤니티 회원목록 (총 <span th:text="${totalElements}">0</span> 명)</h2>
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-search">
                        <div class="input-group">
                            <label>
                                <input type="text" class="form-control" placeholder="아이디 또는 회원명" name="search">
                            </label>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">검색</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- 회원목록 -->
                <table>
                    <thead>
                    <tr>
                        <th class="text-center">번호</th>
                        <th class="text-center">아이디</th>
                        <th class="text-center">이름</th>
                        <th class="text-center">나이</th>
                        <th class="text-center">자기소개</th>
                        <th class="text-center">등록일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${totalElements == 0}"><td colspan="5" class="text-center">검색된 회원이 없습니다.</td></tr>
                    <tr class="text-center" th:each="member, memberStat : ${list}">
                        <td th:text="${memberStat.count}">1</td>
                        <td th:text="${member.userid}">tester</td>
                        <td><a th:href="@{Members/{userid}(userid=${member.userid})}">[[${member.name}]]</a></td>
                        <td th:text="${member.age}">10</td>
                        <td th:text="${member.introduction}">자기소개</td>
                        <td th:text="${#temporals.format(member.day, 'yyyy-MM-dd HH:mm')}">2022-10-10</td>
                    </tr>
                    </tbody>
                </table>

            <!-- 페이징 처리 -->
            <div class="pagination-align">


                    <div th:if="${hasPrevious}"><a th:href="@{/Members(page=${requestPage-2}, search=${param.search})}" th:text="'Previous'">이전페이지</a></div>

                    <th:block th:if="${totalElements != 0}" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <div class="active" th:if="${page == requestPage}"><a th:text="${page}">1</a></div>
                        <div th:if="${page != requestPage}"><a th:href="@{/Members(page=${page-1}, search=${param.search})}" th:text="${page}">1</a></div>
                    </th:block>


                    <div th:if="${hasNext}"><a th:href="@{/Members(page=${requestPage}, search=${param.search})}" th:text="'Next'">다음페이지</a></div>
            </div>

        </div>

</section>

</body>
</html>