<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/CSS/loginForm.css}" rel="stylesheet">
    <div th:include="layout/templateV1.html"></div>

    <title>부트스트랩 튜토리얼</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootswatch.min.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script th:src="@{/JS/image_moving.js}" defer></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>
<body>
<div class="container" style="margin-left:20%;margin-top:5%;">
    <!-- header -->
    <div class="login-header">
        <h2 class="form-signin-heading">커뮤니티 로그인</h2>
    </div>
    <!-- form -->
    <form class="form-signin" th:action="@{signin}" method="post" th:object="${loginForm}">
        <!-- 글로벌 오류 처리 -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>
        <input type="text" class="form-control"  placeholder="아이디" th:field="*{userid}" th:errorclass="field-error">
        <div class="field-error" th:errors="*{userid}">아이디 입력 오류</div>
        <input type="password" class="form-control" placeholder="비밀번호" th:field="*{password}" th:errorclass="field-error">
        <input type="hidden" th:field="*{redirect}">
        <div class="field-error" th:errors="*{password}">비밀번호 입력 오류</div>
        <label class="checkbox"> <input type="checkbox" th:field="*{remember}"> 아이디 저장</label>
        <div class="row form-btn">
            <button class="btn btn-large btn-warning" type="submit">로그인</button>
            <a class="btn btn-large btn-default" th:href="@{register}">회원가입</a>
        </div>
    </form>

    <!-- footer -->
    <div class="login-footer">
        <p>© Company 2024.</p>
    </div>
</div>

</body>

</html>