<link th:href="@{/CSS/updateForm.css}" rel="stylesheet" xmlns:th="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:include="layout/templateV1.html"></div>

<!-- 내비게이션 -->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">홈</a></li>
                    <li class="active">커뮤니티 회원가입</li>
                </ol>
            </div>
        </div>
    </div>
</nav>

<!-- 컨텐츠 -->
<section class="row">
    <div class="col-lg-12">

        <div class="page-header">
            <h2 id="container">커뮤니티 회원상세</h2>
        </div>

        <div class="alert alert-dismissable alert-success"
             th:if="${#strings.equals(param.status, 'new')}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>커뮤니티 회원 가입을 축하합니다.</strong>
        </div>

        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
        <form th:action="@{/Members/updateMember/{id}(id=${id})}"  th:object="${member}" method="post" >
        <div class="table-responsive">
            <table class="table table-bordered">
                <colgroup>
                    <col width="15%">
                    <col width="35%">
                    <col width="15%">
                    <col width="35%">
                </colgroup>

                    <tbody th:each="member: ${member}">
<!--                    <tbody th:each="member: ${member}">-->
                <tr>
                    <th class="text-center">아이디</th>
                    <label>
                        <input type="text" th:field="*{id}"/>
                    </label>
                    <th class="text-center">회원명</th>
                    <label>
                        <input type="text" th:field="*{name}"/>
                    </label>
                </tr>
                <tr>
                    <label>
                        <input type="hidden"th:field="*{password}"/>
                    </label>

                    <th class="text-center">나이</th>
                    <label>
                        <input type="number" th:field="*{age}" />
                    </label>

                    <th class="text-center">자기소개</th>
                    <label>
                        <input type="text" th:field="*{introduction}" />
                    </label>

                    <th class="text-center">가입일자</th>
                    <label>
                        <input type="text" th:field="*{regdate}"/>
                    </label>
                </tr>

            </table>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-warning">정보저장(form)</button>
            <a th:href="@{/Members}"><button class="btn btn-warning">회원목록</button></a>
        </div>

        </form>

    </div>
</section>


</html>