<link th:href="@{/CSS/view.css}" rel="stylesheet" xmlns:th="http://www.w3.org/1999/xhtml">

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:include="layout/templateV1.html"></div>


<!-- 커뮤니티 소개 -->
<!--<header></header>-->

<!-- 내비게이션 -->
<nav>
</nav>

<!-- 컨텐츠 -->
<section>


    <div class="page-header">
        <h2 id="container">커뮤니티 회원상세</h2>
    </div>

    <div class="alert alert-dismissable alert-success"
         th:if="${#strings.equals(param.status, 'new')}">
    </div>

    <div class="alert alert-dismissable alert-danger">
    </div>
    <form th:action="@{/Boards/{articleId}(articleId=${articleId})}"  th:object="${article}" method="post" enctype="multipart/form-data">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody th:each="article : ${article}">
                <tr>
                    <th>키값(확인용)</th>
                    <td th:text="${article.articleId}">id</td>
                </tr>

                <tr>
                    <th>아이디</th>
                    <td th:text="${article.name}">id</td>
                </tr>
                <tr>
                    <th>E-Mail</th>
                    <td th:text="${article.subject}">email</td>
                </tr>
                <tr>
                    <th>회원명</th>
                    <td th:text="${article.content}">name</td>
                </tr>
                <tr>

                <tr>
                    <th>가입일자</th>
                    <td class="text-left"
                        th:text="${#temporals.format(article.day, 'yyyy-MM-dd HH:mm')}">day</td>
                </tr>
                <!--                <tr>-->
                <!--                    <th>프로필사진</th>-->
                <!--                    <td th:text="${member.file}">photo</td>-->
                <!--                </tr>-->
                <!--                <tr>-->
                <!--                    <img th:src="@{|/PROFILE/${member.file}|}" alt="사진 미리보기">-->

                <h3>업로드 목록</h3>
                <div th:each="img : ${imgs}"> <!-- 파일 이름이 들어가있음. -->
                    <!-- 컨트롤러로 요청 보냄. -->

                    <img th:src="@{/Boards/read_img/{articleId}/{img}(articleId=${articleId},img=${img})}" style="width:200px;height:200px"  alt=""/>

                </div>

                </tbody>
            </table>
        </div>
    </form>
    <div class="pull-right" th:each="article : ${article}">
        <div class="pull-right" th:each="articleStore : ${articleStore}">
        <a th:href="@{/Boards/updateArticle/{articleId}(articleId=${article.articleId})}" class="btn btn-success"><button class="btn btn-warning">게시글수정</button></a>
        <a th:href="@{/Boards}"><button class="btn btn-warning">게시글목록</button></a>
        <a th:href="@{/Boards/delete/{articleId}?articleNum={articleId}(articleId=${article.articleId})}"><button class="btn btn-warning">게시글삭제</button></a>
        </div>
    </div>

</section>


</html>