<link rel="stylesheet" href="CSS/registerForm.css">

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/JS/writeArticle.js}" defer></script>
<link th:href="@{/CSS/writeArticle.css}" rel="stylesheet">
<link th:href="@{/CSS/table.css}" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script th:src="@{/JS/image_moving.js}" defer></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<div th:include="layout/templateV1.html"></div>
<!-- 타이틀 -->
<title>:: 커뮤니티 회원 가입 ::</title>


<!-- 내비게이션 -->
<nav>

</nav>

<!-- 컨텐츠 -->
<section class="row">
    <div class="col-lg-12">

        <div class="page-header">
            <h2 id="container">커뮤니티 글쓰기</h2>
        </div>

        <div class="well">
            <p>아래 항목들을 정성껏 작성해 주세요^^.</p>
            <fieldset class="inline">
                <form th:action="@{/Boards/writeArticle}" method="post" th:object="${article}" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="col-lg-1 control-label">유저PK(확인용)</label>
                        <div class="col-lg-11" th:if="${session.loginMember != null}">
                            <label>
                                <input type="text" class="form-control"
                                       placeholder="필수 입력항목입니다."
                                       th:value="${session.loginMember.id}"
                                       th:name="id">
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">글쓴이닉네임</label>
                        <div class="col-lg-11" th:if="${session.loginMember != null}">
                            <label>
                                <input type="text" class="form-control"
                                       placeholder="필수 입력항목입니다."
                                       th:value="${session.loginMember.name}"
                                       th:name="name"
                                       th:errorclass="field-error">
                            </label>
                            <div class="field-error" th:errors="*{name}">오류2</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">주제</label>
                        <div class="col-lg-11">
                            <label>
                                <input type="text" class="form-control"
                                       placeholder="필수 입력항목입니다." th:field="*{subject}"
                                       th:errorclass="field-error">
                            </label>
                            <div class="field-error" th:errors="*{subject}">오류4</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">내용</label>
                        <div class="col-lg-11">
                            <label>
                                <textarea class="form-control"
                                       placeholder="내용을 적어주세요." th:field="*{content}"
                                       th:errorclass="field-error"></textarea>
                            </label>
                            <div class="field-error" th:errors="*{content}">오류4</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-1 control-label">날짜</label>
                        <div class="col-lg-11">
                            <input type="hidden" class="form-control"
                                   placeholder="필수 입력항목입니다." th:field="*{day}"
                                   th:errorclass="field-error">
                            <div class="field-error" th:errors="*{day}">오류5</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-1 control-label">추천수</label>
                        <div class="col-lg-11">
                            <input type="hidden" class="form-control"
                                   placeholder="필수 입력항목입니다."
                                   th:value=0
                                   th:name="hitcount"
                                   th:errorclass="field-error">
                            <div class="field-error" th:errors="*{hitcount}">오류5</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-1 control-label">조회수</label>
                        <div class="col-lg-11">
                            <input type="hidden" class="form-control"
                                   placeholder="필수 입력항목입니다."
                                   th:value=0
                                   th:name="clickcount"
                                   th:errorclass="field-error">
                            <div class="field-error" th:errors="*{clickcount}">오류5</div>
                        </div>
                    </div>

                    file:<input name="file" type="file">

                    <a th:href="@{/Boards/deletePhoto/{articleId}/{storeFilename}}"><button class="btn btn-warning">이미지 삭제하기</button></a>

                    <!--                    <div class="form-group">-->
                    <!--                        <label class="col-lg-1 control-label">프로필사진</label>-->
                    <!--                        <div class="col-lg-11">-->
                    <!--                            <input type="file" class="form-control"-->
                    <!--                                   placeholder="자기소개 항목입니다." th:field="*{file}"-->
                    <!--                                   th:errorclass="field-error">-->
                    <!--                            <div class="field-error" th:errors="*{file}">프로필사진 오류</div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <img th:src="@{|/PROFILE/${file}|}" alt="사진 미리보기">-->

                    <tbody th:each="article : ${article}">
                    <div class="pull-right" th:each="articleStore : ${articleStore}">
                    <div class="form-group">
                        <div class="col-lg-11 col-lg-offset-5">
                             <button type="submit" class="btn btn-success">확 인</button>
                        </div>
                    </div>
                    </div>
                    </tbody>



                </form>


                <a th:href="@{/Boards}" class="btn btn-success"><button class="btn btn-default">취 소</button></a>

            </fieldset>
        </div>
    </div>
</section>


</html>