*{
  margin: 0%;
  padding: 0%;
}
:root{
  background-color: white;
}
table {
    width: 70vw;

  }
  th{
    border: 5px solid rgb(224, 255, 255);
    background-color:rgb(224, 255, 255);
  }
  td{

}
.text-center{
    text-align: center;
}
section{
    position: relative;
    left:20%;
    border-radius: 20px 20px 20px 20px;
}
.inline{
    display:inline;
}
tr:nth-child(5){
    height: 60vh;
}