*{
  margin: 0%;
  padding: 0%;
}
table {
    width: 70vw;
    border-collapse: collapse;
  }
  th{
    border: 5px solid rgb(224, 255, 255);
    background-color:rgb(224, 255, 255);
  }
  td{
      border: 5px solid rgb(224, 255, 255);
}
.text-center{
    text-align: center;
}
section{
    position: relative;
    left:20%;
}
.inline{
    display:inline;
}
tr:nth-child(5){
    height: 70vh;
}