*{
    margin: 0%;
    padding: 0%;
}
:root{
  background-color: white;
}
table {
    width: 70vw;

  }
  th{
    border: 5px solid rgb(224, 255, 255);
    background-color:rgb(224, 255, 255);
  }
  td{

}
.text-center{
    text-align: center;
}
section{
    position: relative;
    left:20%;
    border-radius: 20px 20px 20px 20px;
}
#next{
    display:inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(176,224,230);/* 화살표 */
}
#previous{
    display:inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(176,224,230);/* 화살표 */
}