*{
  margin: 0%;
  padding: 0%;

}
:root{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index:5;
}
header >.logo{
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
}
div.logo{
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
}

.main_background{
    width:100%;
    height:100%;
}
