*{
  margin: 0%;
  padding: 0%;
}
.line{
    display:block;
    width:95vw;
    height:340px;
    overflow:hidden;
    padding:3%;
    border:1px solid white;
    background-color: rgb(244,248,255);
}
.white-line{
    display:block;
    width:95vw;
    height:150px;
    overflow:hidden;
    padding:3%;
}
img{
    height:35vh;
    width: 15vw;
    border-radius: 30px;
}
.fill-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:75px;
    padding-right:75px;
}
.big-font{
    font-size: xx-large;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    width:410px;
}
.box-reach{
    padding-right:20vw;
    padding-left:10vw;
}






@media (max-width: 1023px){
    .big-font{
        font-size:20px;
        width:300px;
    }
    .box{
        padding-right:5w;
    }
    .fill-img{
        padding-left:30px;
        padding-right:30px;
    }
    img{
        display:none;
    }
    .box-reach{
        padding-right:20vw;
        padding-left:20vw;
    }
}

@media (max-width: 767px){

}

@media (max-width: 639px){

}
