*{
  margin: 0%;
  padding: 0%;
}
.line{
    display:block;
    width:95vw;
    height:340px;
    overflow:hidden;
    padding:3%;
    border:1px solid white;
    background-color: rgb(244,248,255);
}
.white-line{
    display:block;
    width:95vw;
    height:150px;
    overflow:hidden;
    padding:3%;
}
img{
    height:35vh;
    width: 15vw;
    border-radius: 30px;
}
.fill-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:75px;
    padding-right:75px;
}
.big-font{
    font-size: xx-large;
    font-family: "Nanum Pen Script", cursive;
      font-weight: 400;
      font-style: normal;
}
