*{
  margin: 0%;
  padding: 0%;

}
:root{
  position: relative;
  width: 100vw;
  height: 200vh;
  z-index:5;
}
header >.logo{
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
  margin-left: 1%;
}
div.logo{
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
}
.fixBox{
  position: fixed;
  min-height: 4vh;
  border: 1px solid black;
  background-color: white;
  z-index: 6;
  max-width: 100%;
}

header{
  position: relative;
  width: 100vw;
  z-index: 7;
  opacity: 1.0;
  background-color : white;
  border: 1px solid black;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  min-height: 5vh;
  margin: 0 auto;
  border-top: 1px solid black;
}
.main_background{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 195vh;
  background-color: #d8f1f4;
  z-index: 1;
  padding-top: 3%;
  padding-bottom: 3%;
}
main{
  position: absolute;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 50vw;
  height: 200vh;
  z-index: 6;
}
.box{
  z-index: 6;
  border-radius: 10px;
  overflow: hidden;
}

.box:nth-of-type(1){
  grid-column: 1/3;
}
.box:nth-of-type(2){

  grid-row: 1/3;
  grid-column: 3/4;

}
.box:nth-of-type(3){

  grid-area: 2/1 / span 2/ span 2;
}
.box:nth-of-type(6){

  grid-area: 4/2 /-1/-1;
}
.box > img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.box:hover > img{
  display: block;
  object-fit: cover;
  width: 120%;
  height: 120%;
  transition: 1s;
}


#box1 img:nth-of-type(1),
#box1 img:nth-of-type(2){
  width: 100%;
}

#box2 img:nth-of-type(1),
#box2 img:nth-of-type(2){
  width: 100%;
}

footer{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  z-index: 4;
  background-color: #607D82;
}

nav > a{
  font-size: 1.5rem;
  text-decoration: none;
}

.attention{
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(168, 159, 159);
  border: 1px solid rgb(168, 159, 159);
  color: rgb(119, 111, 111);
}

.attention:hover{
  background-color: rgb(58, 56, 56);
  color: rgb(255, 255, 255);
}

footer > strong{
  margin-left: 5rem;
}

footer > .footerLeft{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  float: left;
  text-overflow:ellipsis;white-space: nowrap;
}

.footerLeft > h1{
  display: flex;
  justify-content: flex-start;
  font-size: 12.5rem;
}

footer > .footerRight{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  font-size: 1rem;
  text-overflow:ellipsis;overflow: hidden;white-space: nowrap;
  float: right;
  padding-left: 3%;
}

.footerRight_i{
  display: flex;
  flex-direction: row;
}