.text-center{
    text-align: center;
}
table {
    width: 70vw;

  }
  th{
    border: 5px solid rgb(224, 255, 255);
    background-color:rgb(224, 255, 255);
  }
  td{

}
input {
  width: 500px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
button{
	width: 90px;
	height: 35px;
	font-size: 15px;
	background-color:rgb(176,224,230);
	border-radius: 5px;
	font-weight: bolder;
}