*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
section{
    position: relative;
    left:20%;
}
.inline{
    display:inline;
}
section{
    position: relative;
    left:47%;
}