
*{
  margin: 0%;
  padding: 0%;
}
:root{
  background-color: white;
}
.fixBox{
  position: fixed;
  min-height: 4vh;
  border-bottom: 3px solid rgb(176,224,230);
  background-color: rgb(176,224,230);
  z-index: 6;
  width: 100%;
  padding-left: 3%;
  padding-top: 1%;
  border-radius:0px 20px 20px 20px;
}
nav{
  display: flex;
  justify-content:space-between;
  margin-top: 1.5%;
  margin-bottom: 1%;
  margin-left: 5%;
  font-size: 20px;
}
a{
  text-decoration-line: none;
}

.buttonToggle{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 5px dashed rgb(167, 199, 231);
    z-index:2;

}
header > div:nth-of-type(1){
    float:right;
    margin-right: 5%;
    font-size: 10px;
}
header > div:nth-of-type(2){
    float:right;
    margin-right: 5%;
    font-size: 10px;
}
.main_background{
    width:80%;
    padding-top: 3%;
}
header >.logo{
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
}
div.logo{
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
}

@keyframes blink-effect {
  0% {
    border: 1px solid rgb(167, 199, 231);
  }
  50%{
    border: 1px solid rgb(224, 255, 255);
  }
}
#blink {
  animation: blink-effect 2s step-end infinite;
}