*{
    margin: 0%;
    padding: 0%;
}
table {
    width: 70vw;
    border: 1px solid rgb(176,224,230);
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(224, 255, 255);

  }
  th{
    border: 5px solid rgb(224, 255, 255);
    border-radius: 20px 20px 20px 20px;
  }
  td{

}
.text-center{
    text-align: center;
}
section{
    position: relative;
    left:20%;
}
.inline{
    display:inline;
}
input {
  width: 500px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: white;
}
button{
	width: 120px;
	height: 50px;
	font-size: 15px;
	background-color:rgb(176,224,230);
	border-radius: 5px;
	font-weight: bolder;
}