*{
    margin: 0%;
    padding: 0%;
}
table {
    width: 70vw;
  }
  th{
    border: 5px solid rgb(224, 255, 255);
    background-color:rgb(224, 255, 255);
  }
  td{

}
section{
    position: relative;
    left:20%;
    border-radius: 20px 20px 20px 20px;
}
.inline{
    display:inline;
}
button{
	width: 64px;
	height: 32px;
	font-size: 15px;
	background-color:rgb(176,224,230);
	border-radius: 5px;
    font-weight:bolder;
}













@media (max-width: 1023px){
    button{
        width: 64px;
        height: 32px;
        font-size: 10px;
    }
    button[type=submit] {
    	width: 64px;
    	height: 32px;
    	font-size: 10px;
    	background-color:rgb(176,224,230);
    	border-radius: 5px;
    	font-weight:bolder;
    }
    input{
        width:200px;
        height:32px;
    }
    table{
        width:60vw;

    }
    section{
        left:30%;
    }
}
@media (max-width: 767px){
    table{
        width:60vw;

    }
    section{
        left:25%;
    }
}
@media (max-width: 639px){
    table{
        width:50vw;


    }
    section{
        left:17%;
    }
}
@media (max-width: 400px){
    section{
        left:10%;
    }
}
