*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.inline{
    display:inline;
}
section{
    position: relative;
    left:48%;
}
fieldset{
    padding:3%;
    border: 5px solid rgb(224, 255, 255);
}