<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/CSS/table1.css}" rel="stylesheet">
<link th:href="@{/CSS/myPage.css}" rel="stylesheet">
<script th:src="@{/JS/image_moving.js}" defer></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div th:include="layout/templateV1.html"></div>


<body>

<br><br><br>

<div style="margin-left:5%;">

    <div style="font-weight:bolder;font-weight:bolder;font-size:40px;">내 프로필</div>
    <br>
        <div th:each="img : ${imgs}" style="display:inline-block;"> <!-- 파일 이름이 들어가있음. -->
            <div data-aos="zoom-in"><img th:src="@{/read_img/{img}(img=${img})}" style="width:200px;height:200px;border-radius:10px;" alt=""/></div>
        </div>
    <br>
    <br>
<table class="table table-bordered">
    <tbody th:each="member : ${member}">
    <tr>

        <td style="border-top: 1px solid rgb(224, 255, 255);border-radius: 20px 0px 0px 0px;display:none;" th:text="${member.id}">id</td>
    </tr>

    <tr>
        <th style="border-top: 1px solid rgb(224, 255, 255);border-radius: 20px 0px 0px 0px;">아이디</th>
        <td style="border-top: 1px solid rgb(224, 255, 255);border-radius: 0px 20px 0px 0px;"th:text="${member.userid}">id</td>
    </tr>
    <tr>
        <th>E-Mail</th>
        <td th:text="${member.email}">email</td>
    </tr>
    <tr>
        <th>회원명</th>
        <td th:text="${member.name}">name</td>
    </tr>
    <tr>
        <th>성별</th>
        <td th:text="${member.sex}">sex</td>
    </tr>
    <tr>
        <th>나이</th>
        <td th:text="${member.age}">age</td>
    </tr>
    <tr>
        <th>생년월일</th>
        <td th:text="${member.birth}">birth</td>
    </tr>
    <tr>
        <th>가입일자</th>
        <td class="text-left"
            th:text="${#temporals.format(member.day, 'yyyy-MM-dd HH:mm')}">day</td>
    </tr>
    <tr>
        <th>자기소개</th>
        <td th:text="${member.introduction}">introduction</td>
    </tr>
    <tr>
        <th style="border-radius: 0px 0px 0px 20px;">신분</th>
        <td th:text="${member.job}">job</td>
    </tr>
    <!--                <tr>-->
    <!--                    <th>프로필사진</th>-->
    <!--                    <td th:text="${member.file}">photo</td>-->
    <!--                </tr>-->
    <!--                <tr>-->
    <!--                    <img th:src="@{|/PROFILE/${member.file}|}" alt="사진 미리보기">-->

    </tbody>
</table>

    <br>

    <div class="pull-right" th:each="member : ${member}">
        <a th:href="@{/updateMember}" class="btn btn-success"><button class="btn btn-warning">정보수정</button></a>
        <a th:href="@{/delete}"><button class="btn btn-warning">회원탈퇴</button></a>
    </div>

    <br><br><br>

<div style="font-weight:bolder;font-size:40px;">내가 쓴 게시글</div>

    <br>

    <th:block th:if="${count != 0}">

    <table>

        <thead>
            <th class="text-center">글쓴이</th>
            <th class="text-center">주제</th>
            <th class="text-center">게시일자</th>
            <th class="text-center">게시글</th>
            <th class="text-center">추천수</th>
            <th class="text-center">추천수</th>
        </thead>





        <tbody th:each="article : ${article}">
    <tr>
        <td class="text-center" th:text="${article.name}">글쓴이</td>

        <td class="text-center" th:text="${article.subject}">주제</td>

        <td class="text-center" th:text="${#temporals.format(article.day, 'yyyy-MM-dd HH:mm')}">day</td>

        <td class="text-center" th:text="${article.content}">글</td>

        <td class="text-center" th:text="${article.hitcount}">글</td>

        <td class="text-center" th:text="${article.clickcount}">글</td>
    </tr>
        </tbody>
    </table>


    </th:block>

    <th:block th:if="${count == 0}">

        <table>

                <thead>
                    <th class="text-center">글쓴이</th>
                    <th class="text-center">주제</th>
                    <th class="text-center">게시일자</th>
                    <th class="text-center">게시글</th>
                    <th class="text-center">추천수</th>
                    <th class="text-center">추천수</th>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="6" class="text-center" style="border-radius: 0px 0px 20px 20px;">올리신 게시글이 없습니다.</td>
                    </tr>
                </tbody>

        </table>

    </th:block>







    <br><br><br><br><br><br><br><br><br><br><br>


</div>
</body>


</html>